<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/templ-assets/css/styles.min.css}" />
        <title>Login formulaire</title>
        <script>
            (function (w, d, s, l, i) {
              w[l] = w[l] || [];
              w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
              var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
              j.async = true;
              j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
              f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-M5HL5D2G");
          </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BRVG7LC40K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BRVG7LC40K');
        </script>
    </head>

    <body>
        <!-- Google Tag Manager (noscript) -->
    <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-M5HL5D2G"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
        <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
            data-sidebar-position="fixed" data-header-position="fixed">
            <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                <div class="col-md-8 col-lg-6 col-xxl-3">
                    <div class="card mb-0">
                    <div class="card-body">
                        <h3 class="text-center">Login</h3>
                        <form action="/user/login" method="get" >
                            <div th:if="${error} != null" th:text="${error}" style="color: red;"></div>
                            <div class="mb-3">
                                <label for="" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Mot de passe</label>

                                <input type="password" class="form-control" name="mdp" placeholder="Mot de passe">
                            </div>
                            <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" 
                                        style="background-color: #f5c900d9; border: none; color: #000000c7;">
                                    Se connecter
                            </button>
                            <a href="/user/inscription/form">
                                Pas de compte ?
                            </a>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </body>

</html>