<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/assets/recette-form.css}">
        <title>Recette formulaire - categories</title>
        <script th:src="@{/script/xhr.script.js}"></script>
        <script>
            (function (w, d, s, l, i) {
              w[l] = w[l] || [];
              w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
              var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != "dataLayer" ? "&l=" + l : "";
              j.async = true;
              j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
              f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-M5HL5D2G");
          </script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-BRVG7LC40K"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BRVG7LC40K');
        </script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
    <noscript
    ><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-M5HL5D2G"
      height="0"
      width="0"
      style="display: none; visibility: hidden"
    ></iframe
  ></noscript>
  <!-- End Google Tag Manager (noscript) -->
        <header>
            <a href="#">
                <img th:src="@{/assets/img/logo.png}" class="logo">
            </a>        
            <nav>
                <a href="#">Home</a>
                <a href="#">Recettes</a>
                <a href="#">Mes recettes</a>
                <a href="#">Se connecter</a>
                <a href="#">S'inscrire</a>
                <a href="#">
                    <img th:src="@{/assets/img/saved.png}" class="header-save">
                </a>
            </nav>
        </header>
        <main>
            <div id="slogan">
                <h1>PARTAGEZ VOS EXPERIENCES CULINAIRES !</h1>
                <p>Racontez-nous vos aventures en cuisine et inspirez notre communauté 
                    avec vos créations savoureuses. Partagez vos secrets, astuces 
                    et recettes préférées pour que chacun puisse goûter à votre passion
                    et à votre créativité.</p>
            </div>
            <form method="get" id="recette-form">
                <center><h1>Ajouter les catégorie formulaire </h1></center>
                <div th:if="${error} != null" th:text="${error}" style="color: red;"></div>
                    <div class="option">
                        <select name="idCategorie" >
                            <option th:each="categorie : ${listCategories}"
                                    th:value="${categorie.getIdCategorie()}"
                                    th:text="${categorie.getNomCategorie()}">
                            </option>
                        </select>
                        <button type="button" onclick="addCategorie()"> Ajouter</button>
                    </div>
                    
                    <div id="categorie-list" class="form-list">
                        <center><h2>Ajouter des catégories</h2></center>
                    </div>
                    <a href="/user/recette/form/ingredient"><button type="button" class="suivant">Suivant</button></a>
            </form>

        </main>
    </body>
    <script>

        function addCategorie(){
            var xhr = create_HttpRequest();
            
            var form = document.getElementById('recette-form');
            var formData = new FormData(form);

            var datas = Array();
            xhr.addEventListener("load", function(event) {    
                datas = JSON.parse(xhr.responseText);
                console.log(datas);
            });
            xhr.open("POST", "/user/recette/form/categories/put",false);
            xhr.send(formData);
            var listCategorie = document.getElementById('categorie-list');
            listCategorie.innerHTML = "";
            for (let i = 0; i < datas.length; i++) {
                listCategorie.innerHTML += "<div class=\"selected-option\" id=\"selected-option\">"
                                                +"<p>"+datas[i].nomCategorie+"</p>"
                                                +"<button onclick=\"removeCategorie("+i+")\">enlever</button> "
                                            +"</div>"
            }
        }

        function removeCategorie(index){
            var xhr = create_HttpRequest();

            var xhr = create_HttpRequest();
            var datas = Array();
            xhr.addEventListener("load", function(event) {    
                datas = JSON.parse(xhr.responseText);
                console.log(datas);
            });
            xhr.open("GET", "/user/recette/form/categories/delete/"+index,false);
            xhr.send(null);
            var listCategorie = document.getElementById('categorie-list');
            listCategorie.innerHTML = "";
            if(datas.length == 0){
                listCategorie.innerHTML += "<h2>Ajouter des catégories</h2>"
            }else{
                for (let i = 0; i < datas.length; i++) {
                listCategorie.innerHTML += "<div class=\"selected-option\" id=\"selected-option\">"
                                                +"<p>"+datas[i].nomCategorie+"</p>"
                                                +"<button onclick=\"removeCategorie("+i+")\">enlever</button> "
                                            +"</div>"
                }
            }
        }
    </script>
</html>