<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enregistré</title>
        <link rel="stylesheet" th:href="@{/assets/style.css}">
        <script th:src="@{/script/xhr.script.js}"></script>
        <script th:src="@{/script/enregistrer.script.js}"></script>
    </head>
    <body>
        <header>
            <a href="/">
                <img th:src="@{/assets/img/logo.png}" class="logo">
            </a>        
            <nav>
                <a href="/">Home</a>
                <a href="/user/recette/mesrecette">Mes recettes</a>
                <a href="/user/login/form" >Se connecter</a>
                <a href="/user/inscription/form">S'inscrire</a>
                <a href="#">
                    <img th:src="@{/assets/img/saved.png}" class="header-save">
                </a>
            </nav>
        </header>
        <main>
            <h1>Mes enregistrements</h1>
            <section id="recette-list">
                <div class="recette-card"
                    th:each="recette : ${listRecette}">
                    <img th:src="@{/images/Surf_Board_MockupForFree.jpg}">
                    <th:block th:if="${listEnregistrement.size()!=0}">
                        <div alter="button"
                            th:class="${listEnregistrement.contains(recette) ? 'saved' : 'unsaved' }"
                            th:attr="id='recette-' + ${recette.getIdRecette()}"
                            th:onclick="'enregistrer('+${recette.getIdRecette()}+')'">
                        </div>
                    </th:block>
                    <th:block th:unless="${listEnregistrement.size()!=0}">
                        <div alter="button"
                            class="unsaved"
                            th:attr="id='recette-' + ${recette.getIdRecette()}"
                            th:onclick="'enregistrer('+${recette.getIdRecette()}+')'">
                        </div>
                    </th:block>
                    <div>
                        <h3 th:text="${recette.getNomRecette()}"></h3>
                        <h5 th:text="${recette.getDescriptions()}"></h5>
                        <a th:href="@{'/user/recette/'+${recette.getIdRecette()}+'/commentaires'}">Voir commentaire</a>
                        <a th:href="@{'/user/recette/'+${recette.getIdRecette()}+'/details'}">
                            <button>Voir recette</button>
                        </a>
                    </div>
                </div>
            </section>
        </main> 
    </body>
</html>